
:root{
  --clr_dark:black;
  --clr-slate: white;
  --clr-gradient:  linear-gradient(90deg,  #730644, #5a0286);

  --main-color: rgb(176, 126, 223);
    --light-color:#7d7bcbc2;
}
*{
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--clr_dark);
  color: var(--clr-slate) ;
}

body::-webkit-scrollbar {
  width: .7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(0, 59, 147);
}
body::-webkit-scrollbar-thumb {
  background-color: #9f0356;
  outline: 1px solid rgb(15, 3, 3);
  border-radius: 7px 0px;
}

img,video,picture,canvas,svg{
  display: block;
  max-width: 100%;
}


.header{
  position: fixed;
  top:0; left:0; right: 0;
  z-index: 1000;
  background-color: rgba(255,255,255,0.15);
  backdrop-filter: blur(5px);
  position: fixed;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:1.2rem 9%;
}

.header .logonav{
  font-size: 2.5rem;
  margin-bottom: -40px;
  margin-top: -30px;
}

.header .navbar a{
  font-size: 1.7rem;
  color: var(--light-color);
  text-decoration: none;
  margin-left: 2rem;
}

.header .navbar a:hover{
  color:var(--main-color);
}

#menu-btn{
  cursor: pointer;
  font-size: 2.5rem;
  padding:1rem 1.3rem;
  border-radius: .5rem;
  color: var(--main-color);
  background: var(--bg);
  display: none;
}

#menu-btn:hover{
  color: #fff;
  background: var(--main-color);
}

@media (max-width:968px){

  #menu-btn{
      display: initial;
  }

  .header .navbar{
      position: absolute;
      top:115%; right: 2rem;
      background-color: rgb(250, 247, 246);
      backdrop-filter: blur(20px);
      box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
      border:.1rem solid rgba(0,0,0,.1);
      border-radius: .5rem;
      width: 20rem;
      transform: scale(0);
      transform-origin: top right;
      opacity: 0;
  }

  .header .navbar.active{        
      transform: scale(1);
      opacity: 1;
  }

  .header .navbar a{
      font-size: 2rem;
      display: block;
      padding:1rem;
      margin: 1rem;
      border-radius: .5rem;
  }

  .header .navbar a:hover{
      background: var(--bg);
  }

  .home .content{
      text-align: center;
  }

}


.hero{
  min-height: 100vh;
  background-image:linear-gradient(rgba(137, 89, 89, 0.185),#000000c3) ,url(../Styles/images/audio-g20e165a37_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: grid;
  align-content: center;
  place-items: center;
}

h1>span{
  color: #5798e7;
  font-size: 4.5rem;
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
}
h1{
  font-size: 3.5rem;
}
.hero__details{
  padding: 1rem;
  color: var(--clr-slate);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  font-family: 'Quattrocento Sans', sans-serif;
}
.btn__hero{
  margin-top: 10px;
  border-radius: 1px solid black;
  background: transparent;
  padding: .8rem 1rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn__hero:hover{
  color: rgb(100, 61, 136);
  background-color:  rgb(187, 124, 247);
  box-shadow: 0 0 12em .25em  rgb(174, 102, 241),
  0 0 2em 2em rgba(72, 40, 104, 0.781),
  inset 0 0 .75em .25em  rgb(217, 176, 255);
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  grid-auto-rows: 20rem;
  grid-gap: 20px; 
  padding-left: 25px;
  padding-right: 25px;
  }
  .catagories_contant{
    display: flex;
    flex-direction: column;
    gap: 7rem;
    justify-content: flex-start;
    margin-top: -10px;
    height: 40vh;
    color: black;
    font-size: 25px;
    box-sizing: border-box;
  }
  .c1{
    background-image: url(images/pink-gde85dbe7a_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .c2{
    background-image: url(images/hd2.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
    column-gap: 1rem;
    padding-bottom: 20px;
  }
  .c3{
  background-image: url(images/sp.PNG);
  background-size: cover;
  }
  .btn_catagories{
    text-decoration: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: #fff;
    margin-left: 10px;
    width: 7em;
    height: 3em;
    line-height: 2.5em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 10px;
    cursor: pointer;
  }
.catagories_contant>h3{
  margin: 10px 20px 0px 10px;
}

.products{
  display: grid;
  place-items: center;
  justify-content: center;
}

.products>h1{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.line{
  height: 1px;
  background-color: white;
  margin-top: -78px;
  width: 35%;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  column-gap: .8rem;
  grid-auto-rows: 21rem ;
  row-gap: 20px;
  width: 90%;
  padding-left: 12%;
}

.product{
  width: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  background: linear-gradient(90deg,  #730644, #5a0286);
}


.product h2 {
  margin-top: 10px;
  font-size: 18px;
}

.product h3 {
  margin-top: 5px;
  font-size: 14px;
  color: #a27d7d;
}

.product_btn{
  padding: 0.6em 1.6em;
  margin-top: 10px;
  border: 2px solid #020808;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: var(--clr-slate);
  cursor: pointer;
}
.product_btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--clr_dark);
  transition: .5s ease;
  display: block;
  z-index: -1;
}
.product_btn:hover::before{
  width: 105%;
}
.product_btn:hover{
  color: var(--clr-gradient);
}
.equipments{
  margin: 10% 10%;
}

.equipment_2{
  height: 50vh;
  background-image: url(images/headphonebg.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-position: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}


.discover_btn{
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: rgb(150, 6, 101);
  color: ghostwhite;
}
.discover_btn:hover{
  color: rgb(100, 61, 136);
  background-color:  rgb(187, 124, 247);
  box-shadow: 0 0 1em .25em  rgb(174, 102, 241),
  0 0 4em 4em rgba(191, 123, 255, 0.781),
  inset 0 0 .75em .25em  rgb(217, 176, 255);
}

.testmonials{
  text-align: center;
  display: grid;
  height: 100%;
  place-items: center;
  background: #000000;
}


::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #000000;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #7b0498ba;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #904bbe;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: gold;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: rgba(191, 123, 255, 0.781);
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

:where(h1){
  font-family: 'Times New Roman', Times, serif;
}


.deals{
  margin: 10% 10%;
}

.deals_contant{
  height: 50vh;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-attachment:fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex: auto;
}

.input-container{
  width: auto;
  padding: 1rem;
}
.input-container>input{
  padding: .6rem;
  background: transparent;
  width: 40%;
  color: var(--clr-slate);
  border-radius: 6px ;
  border-color:  rgba(136, 56, 211, 0.781);
}
.input-container::placeholder{
  color: var(--clr-slate);
}
.invite-btn{
  padding: .6rem;
  background-color: #904bbe;
  border: none;
  border-radius: 3px;
}
.invite-btn:hover{
  cursor: pointer;
  color: rgb(100, 61, 136);
  background-color:  rgb(187, 124, 247);
  box-shadow: 0 0 .5em .15em  rgb(174, 102, 241),
  0 0 1em 1em rgba(191, 123, 255, 0.781),
  inset 0 0 .25em .25em  rgb(217, 176, 255);
}


.features {
  background-color: #5f316bcd;
  padding: 2.5rem 0.5rem;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.features__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.logo{
  display: flex;
  font-family:'Courier New', Courier, monospace;
  font-size: 3rem;
}
.logo>p{
  margin-top: 20px;
  color: #5a0286;
  font-weight: 700;
}

.icon-wrapper {
  width: 3rem;
  height: 3rem;
  color: #03a9f4;
  background-color: #282020;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 1.25rem;
}

.footer{
  margin-top: 1rem;
  padding-bottom: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer .box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: flex-start;
}
.box-1{
  flex: 2 1 auto;
}

.footer .box-container .box h3{
  font-size: 2.0rem;
  padding:1rem 0;
  color:rgb(174, 102, 241);
}
.box-1>p{
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:1rem 0;
  color: white;
  text-decoration: none;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color:#5a0286;
}

.footer .box-container .box:hover a{
  color: #4d8bd6;
  /* transform: translateY(1rem); */
}

.footer .credit{
  color:rgb(112, 5, 76);
  text-align: center;
  padding:1rem;
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 2rem;
}

.footer .credit span{
  color:#5a0286;
}


@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}




/* form */



.main{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

/* 
.img{
  flex: 1 1 auto;
} */
.formp{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #8e2899;
  max-height: 420px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 24px;
}

/*checkbox to switch from sign up to login*/
#chk {
  display: none;
}

/*Login*/
.login {
  position: relative;
  width: 100%;
  height: 100%;
}

.login label {
  margin: 25% 0 5%;
}

label {
  color: #fff;
  font-size: 2rem;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.input {
  width: 100%;
  height: 40px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 4px;
}

/*Register*/
.register {
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(5%);
  transition: .8s ease-in-out;
}

.register label {
  color: #7e3b8a;
  transform: scale(.6);
}

#chk:checked ~ .register {
  transform: translateY(-60%);
}

#chk:checked ~ .register label {
  transform: scale(1);
  margin: 10% 0 5%;
}

#chk:checked ~ .login label {
  transform: scale(.6);
  margin: 5% 0 5%;
}   
/*Button*/
.form button {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #573b8a;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.form button:hover {
  background-color: #6d44b8;
}


@media  (max-width: 2250px) { 
  .main{
    gap: 20rem;
  }
  .formp{
    margin-left: 34rem;
  }
}
@media  (max-width: 1850px) { 
  .main{
    gap: 10rem;
  }
  .formp{
    margin-left: 24rem;
  }
}


@media  (max-width: 1280px) { 
  .main{
    gap: 10rem;
  }
  .formp{
    margin-left: 8rem;
  }
}
@media  (max-width: 1080px) { 
  .main{
    gap: 5rem;
  }
  .formp{
    margin-left: 3rem;
  }
}
@media  (max-width: 880px) { 
  .formp{
    margin-left: 9rem;
  }
}
@media  (max-width: 580px) { 
  .img{
    margin-left: -7rem;
  }
  .formp{
    margin-left: 5rem;
  }
}